@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    transition: 0.75s all;
    min-height: 100vh;
    background: url(../img/pyramide.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    div {
        position: relative;
        section {
            background: white;
            display: flex;
            justify-content: end;
            position: fixed;
            height: 8vh;
            width: 100%;
            z-index: 2;
            ul {
                width: 50%;
                display: flex;
                justify-content: space-around;
                a {
                    transition: .4s;
                    text-decoration: none;
                    li {
                        margin-top: 2rem;
                        list-style: none;
                        color: rgb(78, 73, 73);
                        font-size: 2rem;
                    }
                }
                a:hover {
                    box-shadow: 0 4px 0 #6d6b6b;
                }
            }
        }
        .banner {
            position: absolute;
            background-color: rgb(242, 24, 24);
            font-family: "Roboto";
            top: -70rem;
            right: -50rem;
            transform: rotate(25deg);
            overflow: hidden;
            h5 {
                white-space: nowrap;
                color: white;
                animation: banner 10s linear 0s infinite forwards;
                transform: rotate(40deg);
                width: 100%;
                font-size: 7rem;
                span {
                    color: white;
                    -webkit-text-stroke: 2px black;
                }
            }
            @keyframes banner {
                0% {
                    transform: translateX(40%);
                }
                20% {
                    transform: translateX(45%);
                }
                40% {
                    transform: translateX(50%);
                }
                60% {
                    transform: translateX(55%);
                }
                100% {
                    transform: translateX(60%);
                }
            }
        }
    }
}

main {
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        article {
            padding: 5%;
            img {
                margin: 5%;
                width: 400px;
                height: 400px;
                // box-shadow: 5px 5px 5px;
                box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
                transition: all 0.45s;
                -webkit-transition: all 0.45s;
                -moz-transition: all 0.45s;
            }
            img:hover {
                filter: grayscale(40%);
                -webkit-filter: grayscale(40%);
                -moz-filter: grayscale(40%);
                transform: scale(1.01);
                cursor: pointer;
            }
        }
    }
}

footer {
    background: rgb(87, 84, 84);
    section {
        margin: 0 2rem 0 2rem;
        height: 10vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            width: 10%;
            a {
                color: white;
                transition: all 0.5s ease-in-out;
            }
            a:hover {
                transform: scale(1.5);
            }
            i {
                font-size: 1.8rem;
            }
        }
    }
}

// footer{
//     .juneSection{
//         .juneArticle{
//             width: 100%;
//             p{
//                 padding: 30% 0 5% 0;
//             }
//         }
//     }